Проект по мэтчингу (поиску товаров, похожих по описанию

In [33]:
import pandas as pd
import numpy as np

In [23]:
base = pd.read_csv('base.csv')

In [65]:
def inform(x):
    print('Размер датасета:')
    print(x.shape)
    print('Инфо:')
    print(x.info())
    print('Первые строки:')
    print(x.head())
    print('Описание:')
    print(x.describe())
    print('Количество дубликатов')
    print(x.duplicated().sum())

In [59]:
inform(base)

(2918139, 73)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2918139 entries, 0 to 2918138
Data columns (total 73 columns):
 #   Column  Dtype
---  ------  -----
 0   Id      object
 1   0       float64
 2   1       float64
 3   2       float64
 4   3       float64
 5   4       float64
 6   5       float64
 7   6       float64
 8   7       float64
 9   8       float64
 10  9       float64
 11  10      float64
 12  11      float64
 13  12      float64
 14  13      float64
 15  14      float64
 16  15      float64
 17  16      float64
 18  17      float64
 19  18      float64
 20  19      float64
 21  20      float64
 22  21      float64
 23  22      float64
 24  23      float64
 25  24      float64
 26  25      float64
 27  26      float64
 28  27      float64
 29  28      float64
 30  29      float64
 31  30      float64
 32  31      float64
 33  32      float64
 34  33      float64
 35  34      float64
 36  35      float64
 37  36      float64
 38  37      float64
 39  38      float64
 40  39      float64
 41  40      float64
 42  41      float64
 43  42      float64
 44  43      float64
 45  44      float64
 46  45      float64
 47  46      float64
 48  47      float64
 49  48      float64
 50  49      float64
 51  50      float64
 52  51      float64
 53  52      float64
 54  53      float64
 55  54      float64
 56  55      float64
 57  56      float64
 58  57      float64
 59  58      float64
 60  59      float64
 61  60      float64
 62  61      float64
 63  62      float64
 64  63      float64
 65  64      float64
 66  65      float64
 67  66      float64
 68  67      float64
 69  68      float64
 70  69      float64
 71  70      float64
 72  71      float64
dtypes: float64(72), object(1)
memory usage: 1.6+ GB
None

       Id           0          1          2          3           4  \
0  0-base -115.083890  11.152912 -64.426760 -118.88089  216.482440
1  1-base  -34.562202  13.332763 -69.787610 -166.53348   57.680607
2  2-base  -54.233746   6.379371 -29.210136 -133.41383  150.895830
3  3-base  -87.520130   4.037884 -87.803030 -185.06763   76.369540
4  4-base  -72.743850   6.522049  43.671265 -140.60803    5.820023

            5           6          7           8  ...          62         63  \
0 -104.698060 -469.070588  44.348083  120.915344  ...  -42.808693  38.800827
1  -86.098370  -85.076666 -35.637436  119.718636  ... -117.767525  41.100000
2  -99.435326   52.554795  62.381706  128.951450  ...  -76.397800  46.011803
3  -58.985165 -383.182845 -33.611237  122.031910  ...  -70.647940  -6.358921
4 -112.074080 -397.711282  45.182500  122.167180  ...  -57.199104  56.642403

          64          65        66         67          68          69  \
0 -151.76218  -74.389090  63.66634  -4.703861   92.933610  115.269190
1 -157.82940  -94.446806  68.20211  24.346846  179.937930  116.834000
2 -207.14442  127.325570  65.56618  66.325680   81.073490  116.594154
3 -147.20105  -37.692750  66.20289 -20.566910  137.206940  117.474100
4 -159.35184   85.944724  66.76632  -2.505783   65.315285  135.051590

            70         71
0  -112.756640 -60.830353
1   -84.888941 -59.524610
2 -1074.464888 -32.527206
3 -1074.464888 -72.915490
4 -1074.464888   0.319401

[5 rows x 73 columns]

                  0             1             2             3             4  \
count  2.918139e+06  2.918139e+06  2.918139e+06  2.918139e+06  2.918139e+06
mean  -8.622947e+01  8.080077e+00 -4.458080e+01 -1.466350e+02  1.113166e+02
std    2.489132e+01  4.953387e+00  3.863166e+01  1.984480e+01  4.634809e+01
min   -1.994687e+02 -1.391461e+01 -2.400734e+02 -2.326671e+02 -1.055830e+02
25%   -1.030654e+02  4.708491e+00 -6.955949e+01 -1.599051e+02  8.050795e+01
50%   -8.623150e+01  8.038950e+00 -4.381661e+01 -1.467768e+02  1.118730e+02
75%   -6.925658e+01  1.147007e+01 -1.962527e+01 -1.333277e+02  1.423743e+02
max    2.151555e+01  2.993721e+01  1.609372e+02 -5.137478e+01  3.196645e+02

                  5             6             7             8             9  \
count  2.918139e+06  2.918139e+06  2.918139e+06  2.918139e+06  2.918139e+06
mean  -7.199138e+01 -3.922239e+02  2.035283e+01  1.236842e+02  1.244581e+02
std    2.818607e+01  2.716550e+02  6.421638e+01  6.356109e+00  6.443058e+01
min   -2.110086e+02 -7.914699e+02 -3.018597e+02  9.315305e+01 -1.738719e+02
25%   -9.137994e+01 -6.293318e+02 -2.222147e+01  1.194840e+02  8.176751e+01
50%   -7.192230e+01 -4.222016e+02  2.080477e+01  1.238923e+02  1.234977e+02
75%   -5.244111e+01 -1.566686e+02  6.391821e+01  1.279705e+02  1.672206e+02
max    5.880624e+01  1.096325e+02  3.412282e+02  1.522612e+02  4.275421e+02

       ...            62            63            64            65  \
count  ...  2.918139e+06  2.918139e+06  2.918139e+06  2.918139e+06
mean   ... -7.902286e+01  3.329735e+01 -1.547962e+02  1.415132e+01
std    ...  3.045642e+01  2.888603e+01  4.122929e+01  9.895115e+01
min    ... -2.205662e+02 -8.850774e+01 -3.539028e+02 -1.575944e+02
25%    ... -9.876390e+01  1.698862e+01 -1.807799e+02 -7.130038e+01
50%    ... -7.848812e+01  3.471502e+01 -1.539773e+02  1.382693e+01
75%    ... -5.853355e+01  5.216429e+01 -1.273405e+02  9.966753e+01
max    ...  6.017411e+01  1.541678e+02  2.436099e+01  1.850981e+02

                 66            67            68            69            70  \
count  2.918139e+06  2.918139e+06  2.918139e+06  2.918139e+06  2.918139e+06
mean   6.779167e+01  2.354490e+01  7.495930e+01  1.155667e+02 -7.993390e+02
std    1.823356e+00  5.534224e+01  6.134500e+01  2.117518e+01  3.854131e+02
min    5.950944e+01 -2.331382e+02 -2.036016e+02  1.572448e+01 -1.297931e+03
25%    6.658096e+01 -1.251624e+01  3.377574e+01  1.016867e+02 -1.074465e+03
50%    6.781458e+01  2.341649e+01  7.492997e+01  1.160244e+02 -1.074465e+03
75%    6.902666e+01  5.975511e+01  1.158760e+02  1.295524e+02 -5.057445e+02
max    7.571203e+01  3.148988e+02  3.395738e+02  2.147063e+02  9.877081e+01

                 71
count  2.918139e+06
mean  -4.779125e+01
std    4.174802e+01
min   -2.267801e+02
25%   -7.566641e+01
50%   -4.859196e+01
75%   -1.971424e+01
max    1.269732e+02

[8 rows x 72 columns]

In [ ]:
train = pd.read_csv('train.csv')

In [60]:
inform(train)

(100000, 74)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 74 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Id      100000 non-null  object
 1   0       100000 non-null  float64
 2   1       100000 non-null  float64
 3   2       100000 non-null  float64
 4   3       100000 non-null  float64
 5   4       100000 non-null  float64
 6   5       100000 non-null  float64
 7   6       100000 non-null  float64
 8   7       100000 non-null  float64
 9   8       100000 non-null  float64
 10  9       100000 non-null  float64
 11  10      100000 non-null  float64
 12  11      100000 non-null  float64
 13  12      100000 non-null  float64
 14  13      100000 non-null  float64
 15  14      100000 non-null  float64
 16  15      100000 non-null  float64
 17  16      100000 non-null  float64
 18  17      100000 non-null  float64
 19  18      100000 non-null  float64
 20  19      100000 non-null  float64
 21  20      100000 non-null  float64
 22  21      100000 non-null  float64
 23  22      100000 non-null  float64
 24  23      100000 non-null  float64
 25  24      100000 non-null  float64
 26  25      100000 non-null  float64
 27  26      100000 non-null  float64
 28  27      100000 non-null  float64
 29  28      100000 non-null  float64
 30  29      100000 non-null  float64
 31  30      100000 non-null  float64
 32  31      100000 non-null  float64
 33  32      100000 non-null  float64
 34  33      100000 non-null  float64
 35  34      100000 non-null  float64
 36  35      100000 non-null  float64
 37  36      100000 non-null  float64
 38  37      100000 non-null  float64
 39  38      100000 non-null  float64
 40  39      100000 non-null  float64
 41  40      100000 non-null  float64
 42  41      100000 non-null  float64
 43  42      100000 non-null  float64
 44  43      100000 non-null  float64
 45  44      100000 non-null  float64
 46  45      100000 non-null  float64
 47  46      100000 non-null  float64
 48  47      100000 non-null  float64
 49  48      100000 non-null  float64
 50  49      100000 non-null  float64
 51  50      100000 non-null  float64
 52  51      100000 non-null  float64
 53  52      100000 non-null  float64
 54  53      100000 non-null  float64
 55  54      100000 non-null  float64
 56  55      100000 non-null  float64
 57  56      100000 non-null  float64
 58  57      100000 non-null  float64
 59  58      100000 non-null  float64
 60  59      100000 non-null  float64
 61  60      100000 non-null  float64
 62  61      100000 non-null  float64
 63  62      100000 non-null  float64
 64  63      100000 non-null  float64
 65  64      100000 non-null  float64
 66  65      100000 non-null  float64
 67  66      100000 non-null  float64
 68  67      100000 non-null  float64
 69  68      100000 non-null  float64
 70  69      100000 non-null  float64
 71  70      100000 non-null  float64
 72  71      100000 non-null  float64
 73  Target  100000 non-null  object
dtypes: float64(72), object(2)
memory usage: 56.5+ MB
None

        Id          0          1           2          3           4  \
0  0-query -53.882748  17.971436  -42.117104 -183.93668  187.517490
1  1-query -87.776370   6.806268  -32.054546 -177.26039  120.803330
2  2-query -49.979565   3.841486 -116.118590 -180.40198  190.128430
3  3-query -47.810562   9.086598 -115.401695 -121.01136   94.652840
4  4-query -79.632126  14.442886  -58.903397 -147.05254   57.127068

            5           6          7           8  ...         63         64  \
0  -87.144930 -347.360606  38.307602  109.085560  ...  70.107360 -155.80257
1  -83.810590  -94.572749 -78.433090  124.915900  ...   4.669178 -151.69771
2  -50.837620   26.943937 -30.447489  125.771164  ...  78.039764 -169.14620
3 -109.255410 -775.150134  79.186520  124.003100  ...  44.515266 -145.41675
4  -16.239529 -321.317964  45.984676  125.941284  ...  45.028910 -196.09207

           65         66          67          68          69           70  \
0 -101.965943  65.903790   34.457500   62.642094  134.763600  -415.750254
1   -1.638704  68.170876   25.096191   89.974976  130.589630 -1035.092211
2   82.144186  66.008220   18.400496  212.409730  121.931470 -1074.464888
3   93.990981  64.131350  106.061920   83.178760  118.277725 -1074.464888
4 -117.626337  66.926220   42.456170   77.621765   92.479930 -1074.464888

          71        Target
0 -25.958572   675816-base
1 -51.276833   366656-base
2 -22.547178  1447819-base
3 -19.902788  1472602-base
4 -21.149351   717819-base

[5 rows x 74 columns]

                   0              1              2              3  \
count  100000.000000  100000.000000  100000.000000  100000.000000
mean      -85.328679       7.664345     -43.667046    -146.118630
std        25.803845       4.955651      39.111064      20.434841
min      -186.280270     -11.560507    -224.896060    -223.307220
25%      -103.309147       4.313784     -69.494487    -160.028520
50%       -85.273695       7.652854     -42.830246    -146.067445
75%       -67.330810      10.981191     -17.713690    -132.277745
max        14.585236      28.917845     128.108460     -60.751625

                   4              5              6              7  \
count  100000.000000  100000.000000  100000.000000  100000.000000
mean      111.770592     -73.178792    -440.615118      21.231588
std        47.700958      28.718853     279.017550      65.985214
min       -93.272020    -184.962450    -791.469482    -278.582820
25%        79.474322     -92.834080    -738.536868     -22.131764
50%       112.260100     -73.364420    -511.837758      22.278989
75%       143.760830     -53.699612    -201.116578      65.899595
max       301.363600      51.849710     109.625188     288.171840

                   8              9  ...             62             63  \
count  100000.000000  100000.000000  ...  100000.000000  100000.000000
mean      123.067891     126.120201  ...     -81.145553      36.898233
std         6.492081      64.912752  ...      30.675871      25.357686
min        94.831150    -142.156950  ...    -210.059310     -60.779335
25%       118.674642      82.545028  ...    -101.504830      19.774804
50%       123.087540     125.963340  ...     -80.859640      36.711365
75%       127.541802     169.701005  ...     -60.492451      53.919520
max       149.356200     392.827150  ...      47.733450     145.667130

                  64             65             66             67  \
count  100000.000000  100000.000000  100000.000000  100000.000000
mean     -152.223082      14.001695      67.799560      23.029277
std        41.020285      99.079597       1.838012      55.470761
min      -317.831670    -157.590189      60.668890    -203.746380
25%      -178.929470     -71.745018      66.560655     -14.144571
50%      -151.576985      14.072663      67.813585      23.441363
75%      -124.436974     100.011024      69.058750      59.941065
max        11.907364     185.095137      74.779884     266.493320

                  68             69             70             71
count  100000.000000  100000.000000  100000.000000  100000.000000
mean       73.412076     115.189717    -709.761548     -48.505704
std        62.203132      21.582238     405.961084      41.215124
min      -181.973820      22.598862   -1297.871984    -209.935760
25%        31.685548     100.589324   -1074.464888     -76.478591
50%        72.880192     115.236635    -808.801696     -48.700929
75%       114.469224     129.791085    -357.087323     -20.487869
max       319.867520     201.761260      98.768233     126.191790

[8 rows x 72 columns]

In [25]:
validation = pd.read_csv('validation.csv')

In [61]:
inform(validation)

(100000, 73)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 73 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Id      100000 non-null  object
 1   0       100000 non-null  float64
 2   1       100000 non-null  float64
 3   2       100000 non-null  float64
 4   3       100000 non-null  float64
 5   4       100000 non-null  float64
 6   5       100000 non-null  float64
 7   6       100000 non-null  float64
 8   7       100000 non-null  float64
 9   8       100000 non-null  float64
 10  9       100000 non-null  float64
 11  10      100000 non-null  float64
 12  11      100000 non-null  float64
 13  12      100000 non-null  float64
 14  13      100000 non-null  float64
 15  14      100000 non-null  float64
 16  15      100000 non-null  float64
 17  16      100000 non-null  float64
 18  17      100000 non-null  float64
 19  18      100000 non-null  float64
 20  19      100000 non-null  float64
 21  20      100000 non-null  float64
 22  21      100000 non-null  float64
 23  22      100000 non-null  float64
 24  23      100000 non-null  float64
 25  24      100000 non-null  float64
 26  25      100000 non-null  float64
 27  26      100000 non-null  float64
 28  27      100000 non-null  float64
 29  28      100000 non-null  float64
 30  29      100000 non-null  float64
 31  30      100000 non-null  float64
 32  31      100000 non-null  float64
 33  32      100000 non-null  float64
 34  33      100000 non-null  float64
 35  34      100000 non-null  float64
 36  35      100000 non-null  float64
 37  36      100000 non-null  float64
 38  37      100000 non-null  float64
 39  38      100000 non-null  float64
 40  39      100000 non-null  float64
 41  40      100000 non-null  float64
 42  41      100000 non-null  float64
 43  42      100000 non-null  float64
 44  43      100000 non-null  float64
 45  44      100000 non-null  float64
 46  45      100000 non-null  float64
 47  46      100000 non-null  float64
 48  47      100000 non-null  float64
 49  48      100000 non-null  float64
 50  49      100000 non-null  float64
 51  50      100000 non-null  float64
 52  51      100000 non-null  float64
 53  52      100000 non-null  float64
 54  53      100000 non-null  float64
 55  54      100000 non-null  float64
 56  55      100000 non-null  float64
 57  56      100000 non-null  float64
 58  57      100000 non-null  float64
 59  58      100000 non-null  float64
 60  59      100000 non-null  float64
 61  60      100000 non-null  float64
 62  61      100000 non-null  float64
 63  62      100000 non-null  float64
 64  63      100000 non-null  float64
 65  64      100000 non-null  float64
 66  65      100000 non-null  float64
 67  66      100000 non-null  float64
 68  67      100000 non-null  float64
 69  68      100000 non-null  float64
 70  69      100000 non-null  float64
 71  70      100000 non-null  float64
 72  71      100000 non-null  float64
dtypes: float64(72), object(1)
memory usage: 55.7+ MB
None

             Id          0          1          2          3          4  \
0  100000-query -57.372734   3.597752 -13.213642 -125.92679  110.74594
1  100001-query -53.758705  12.790300 -43.268543 -134.41762  114.44991
2  100002-query -64.175095  -3.980927  -7.679249 -170.16093   96.44616
3  100003-query -99.286860  16.123936   9.837166 -148.06044   83.69708
4  100004-query -79.532920  -0.364173 -16.027431 -170.88495  165.45392

            5           6           7           8  ...         62         63  \
0  -81.279594 -461.003172  139.815720  112.880980  ...  -75.51302  52.830902
1  -90.520130 -759.626065   63.995087  127.117905  ...  -79.44183  29.185436
2  -62.377740 -759.626065   87.477554  131.270110  ... -134.79541  37.368730
3 -133.729720   58.576403  -19.046660  115.042404  ...  -77.23611  44.100494
4  -28.291668   33.931936   34.411217  128.903980  ... -123.77025  45.635944

          64          65        66         67         68          69  \
0 -143.43945   59.051935  69.28224  61.927513  111.59253  115.140656
1 -168.60590  -82.872443  70.76560 -65.975950   97.07716  123.391640
2 -159.66231 -119.232725  67.71044  86.002060  137.63641  141.081630
3 -132.53012 -106.318982  70.88396  23.577892  133.18396  143.252940
4 -134.25893   13.735359  70.61763  15.332115  154.56812  101.700640

            70          71
0 -1099.130485 -117.079360
1  -744.442332  -25.009320
2  -294.052271  -70.969604
3  -799.363667  -89.392670
4 -1171.892332 -125.307890

[5 rows x 73 columns]

                   0              1              2              3  \
count  100000.000000  100000.000000  100000.000000  100000.000000
mean      -85.302233       7.669724     -43.842474    -146.119797
std        25.777321       4.956990      39.138775      20.495541
min      -190.353330     -11.109877    -217.538420    -220.050890
25%      -103.231790       4.292425     -69.680916    -160.210287
50%       -85.296745       7.657888     -43.230835    -146.080365
75%       -67.422104      10.993900     -17.765821    -132.119278
max        14.427986      27.409784     134.859800     -57.381890

                   4              5              6              7  \
count  100000.000000  100000.000000  100000.000000  100000.000000
mean      111.635071     -73.273042    -441.396759      21.594242
std        47.751576      28.515740     279.242585      66.478048
min       -81.198990    -176.705030    -791.460243    -265.608430
25%        79.101920     -92.789803    -740.620025     -21.804730
50%       111.959330     -73.579283    -513.922978      22.138012
75%       143.903735     -53.861139    -202.572440      66.097697
max       302.065370      50.255325     109.632035     279.468900

                   8              9  ...             62             63  \
count  100000.000000  100000.000000  ...  100000.000000  100000.000000
mean      123.077725     126.001062  ...     -81.129311      36.778882
std         6.504931      64.981697  ...      30.691590      25.427103
min        96.218350    -135.667300  ...    -215.152280     -66.265970
25%       118.657689      82.311205  ...    -101.690472      19.564135
50%       123.062568     126.083595  ...     -81.027250      36.414150
75%       127.538967     169.680500  ...     -60.274745      53.888420
max       151.822560     392.827150  ...      41.390480     141.025270

                  64             65             66             67  \
count  100000.000000  100000.000000  100000.000000  100000.000000
mean     -152.341249      14.397762      67.788892      23.250779
std        41.246347      98.695231       1.844522      55.403862
min      -337.632870    -157.593541      60.377728    -210.672800
25%      -179.115082     -70.420034      66.546130     -13.863008
50%      -151.426035      14.768218      67.800445      23.508739
75%      -124.400438      99.803923      69.040832      60.154775
max        14.602035     185.094333      75.400475     251.288590

                  68             69             70             71
count  100000.000000  100000.000000  100000.000000  100000.000000
mean       73.114446     115.196935    -709.457021     -48.416276
std        62.056224      21.493081     405.665764      41.292843
min      -175.921780      25.271042   -1297.923999    -209.935760
25%        31.494840     100.538862   -1074.464888     -76.359190
50%        72.152398     115.280990    -807.029697     -48.670001
75%       114.317053     129.770215    -358.400478     -20.283335
max       305.937530     201.599980      98.737079     111.831955

[8 rows x 72 columns]

In [26]:
validation_answer = pd.read_csv('validation_answer.csv')

In [62]:
inform(validation_answer)

(100000, 2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Id        100000 non-null  object
 1   Expected  100000 non-null  object
dtypes: object(2)
memory usage: 1.5+ MB
None

             Id      Expected
0  100000-query  2676668-base
1  100001-query    91606-base
2  100002-query   472256-base
3  100003-query  3168654-base
4  100004-query    75484-base

                  Id     Expected
count         100000       100000
unique        100000        91502
top     100000-query  210304-base
freq               1            7

Все данные закодированы, пропусков нет, собственно и предобработка не требуется. Подумал, что может перевести float64 в float32 для сокращения требуемого объема памяти, но тогда часть значений в цифрах не сохраняется, что недопустимо